.centered {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  justify-content: center;
}

.mt-3r{
  margin-top: 3rem;
}

.todo-card {
  border-radius: 30px !important;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.title{
  margin-top: 2rem;
  background: red;
  border-radius: 10px 10px 10px 10px;
  height: 60px;
  line-height: 45px;
  margin-bottom: 2rem;
}
.title h1{
  line-height: 60px;
}
.completed {
  background: green !important;
}

.notCompleted {
  background: #F4F5F5 !important;
}
.card-btn{
  margin-right:10px;
}

.buttons {
  text-align: center;
}
