<div>
  <form #fromTodo="ngForm" (submit)="addActivity()" class="col-lg-7" id="from-todo">
      <label>
          Nombre
          <span *ngIf="!name.valid && name.touched" class="label label-danger">El nombre es obligatorio</span>
        </label>
        <input type="text"  #name="ngModel" name="name" [(ngModel)]="activity.name" class="form-control" required/>
      
        <label>
          Descripción
          <span *ngIf="!descripcion.valid && descripcion.touched" class="label label-danger">La descripcion es obligatorio</span>
        </label>
        <textarea #descripcion="ngModel" name="descripcion" [(ngModel)]="activity.description" type="text" class="form-control" required></textarea>
      
        <label>
          Fecha
          <span *ngIf="!fecha.valid && fecha.touched" class="label label-danger">La fecha es erronea</span>
        </label>
        <input type="date" #fecha="ngModel" name="fecha" (ngModel)="activity.date" class="form-control" required />
        <br>

    <input type="submit" value="Enviar"  [disabled]="!fromTodo.form.valid" class="btn btn-success mb-2r">
    </form>
</div>