<div class="container">
  <div class="centered">
    <input type="text" [(ngModel)]="name"/>
    <button style="margin-left: 10px" class="btn btn-sm btn-primary" (click)="addActivity()">Add</button>
  </div>

  <div class="mt-3r" *ngIf="activities">
    <div class="row">
      <div [ngClass]="{ 'completed' : act.completed,
                                                                 'notCompleted': !act.completed,
                                                                 'col-lg-2': 1,
                                                                 'offset-1': 1,
                                                                 'todo-card': 1,
                                                                 'card':1}"
           *ngFor="let act of activities">
        <div class="card-body">
            <h5>{{act.name}}</h5>
            <p>{{act.date | date: 'dd/mm/yyyy HH:MM'}}</p>
            <div class="buttons">
              <button type="button" class="btn btn-primary card-btn" (click)="changeActivityStatus(act)">
                <fa-icon [icon]="faCheck"></fa-icon>
              </button>
              <button type="button" class="btn btn-danger" (click)="removeActivity(act)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
