<div class="container">
  <div class="centered">
    <div class="title">
      <h1>{{title}}</h1>
    </div>
    <input type="text" [(ngModel)]="name"/>
    <button style="margin-left: 10px" class="btn btn-sm btn-primary" (click)="addActivity()">Add</button>
  </div>

  <div class="mt-3r" *ngIf="activities">
    <div class="row">
      <div class="col-lg-2 offset-1 todo-card card" *ngFor="let act of activities">
        <div class="card-body">
            <h5>{{act.name}}</h5>
            <p>{{act.date | date: 'dd/mm/yyyy HH:MM'}}</p>
            <div>
              <button type="button" class="btn btn-primary">
                <fa-icon [icon]="faCheck"></fa-icon>
              </button>
              <button type="button" class="btn btn-danger">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
