<div class="container">
  
  <div class="mt-3r" *ngIf="activities">
    <div class="row">
      <div [ngClass]="{ 'completed' : act.completed,
                                                                 'notCompleted': !act.completed,
                                                                 'col-lg-2': 1,
                                                                 'offset-1': 1,
                                                                 'todo-card': 1,
                                                                 'card':1}"
           *ngFor="let act of activities">
        <div class="card-body">
            <h5>{{act.name}}</h5>
            <p>{{act.date | date: 'dd/mm/yyyy HH:MM'}}</p>
            <div class="buttons">
              <button type="button" class="btn btn-primary btn-sm card-btn" (click)="changeActivityStatus(act)">
                <fa-icon [icon]="faCheck"></fa-icon>
              </button>
              <button type="button" class="btn btn-danger btn-sm" (click)="removeActivity(act)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!activities || !activities.length" class="alert alert-dark" role="alert">
    No existen tareas, todavía no se ha creado ninguna.
  </div>

  <div class="mt-3r counter-div">
    <p>
      <span >
          Numero de tareas: {{countActivities}} / Tareas completadas {{numberOfCompleted}}
      </span>
    </p>
  </div>
</div>
